<div class="row">
  <div class="col-md-10">
       <% @student.each do |stud| %>
         <h2><%= stud.name %></h2>
       <% end %>
  </div>
</div>

<br/>

<ul class="list-group">
  <% @student.each do |stud| %>
    <div class="row" style="margin-bottom:25px;"><div class="col-md-2"><p style="margin-top:10px;">Department</p></div><div class="col-md-10"><li class="list-group-item" style="background-color:lightgrey"><%= stud.department.name %></li></div></div>
    <div class="row"><div class="col-md-2"><p style="margin-top:10px;">Section</p></div><div class="col-md-10"><li class="list-group-item" style="background-color:lightgrey"><%= stud.section.name %></li></div></div>
  <% end %>
</ul>

