<div class="jumbotron">
  <h1 class="display-4">Welcome to College Portal</h1>
  <p class="lead">A unified view of college directory</p>
  <hr class="my-4">
  <p>You can see listing of Departments and Sections and create them as and when needed.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Let's get started</a>
  </p>
</div>

